
  <p>
    PAGOS360 (POWDER S.A. - CUIT 30-71440731-3) es un Proveedor de Servicios de Pago registrado ante el BCRA, se limita a ofrecer servicios de pago y no se encuentra autorizado a operar como entidad financiera. Los Fondos Disponibles en cuentas de pago no constituyen depósitos en una entidad financiera, ni cuentan con ninguna de las garantías que tales depósitos puedan gozar de acuerdo con la legislación y reglamentación aplicables en materia de depósitos de entidades financieras.
  </p>

