<body>

  <!-- Form que contiene el datePicker y el boton para enviar la solicitud -->
<form class="wrapperSuperior">
  <div class="datePicker">
    <label>
      Ingrese la fecha del reporte a buscar:
      <input
        type="date"
        name="FechaReporte"
        [(ngModel)]="fechaSolicitudSinFormato">
      <span class="validity"></span>
    </label>
  </div>
  <div class="divBotonBuscar">
    <p>
      <button class="botonBuscar" (click)="getReportes()">Buscar reporte</button>
    </p>
  </div>

</form>

  <!-- Lista con los datos que todo reporte tendrá mas alla de si tiene datelles de reversiones o no-->
<ul  *ngIf="primeraBusquedaRealizada">
  <li>ID de la cuenta: {{reportes!.account_id}}</li>
  <li>Fecha reversiones: {{reportes!.report_date | date: 'dd/MM/yyyy'}} </li>
  <li>Importe total revertido: {{reportes!.total_collected| currency:'$'}}</li>
  <li>Importe total de comisión: {{reportes!.total_gross_fee| currency:'$'}}</li>
  <li>Importe total por acreditar: {{reportes!.total_net_amount| currency:'$'}}</li>
</ul>

<!-- Tabla con los detalles de reversiones-->
<div class="wrapperTable">
  <!-- Si no existen registron se oculta la tabla y se muestran el mensaje-->
    <table *ngIf="ExistenRegistrosBusqueda" class="tablaResultados">
        <thead>
            <tr>
                <th scope="col">Fecha en la que se informó el cobro</th>
                <th scope="col">ID solicitud</th>
                <th scope="col">Referencia externa</th>
                <th scope="col">Nombre pagador</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Fecha de pago</th>
                <th scope="col">Canal</th>
                <th scope="col">Importe pagado</th>
                <th scope="col">Comision neta</th>
                <th scope="col">IVA de la comision</th>
                <th scope="col">Importe neto</th>
                <th scope="col">Fecha en la que el saldo queda disponible</th>
            </tr>
        </thead>
        <tbody>
        <tr *ngFor="let datos of dataReportes">
            <td data-label="Fecha cobro">{{datos.informed_date | date: 'dd/MM/yyyy'}}</td>
            <td data-label="ID solicitud">{{datos.request_id}}</td>
            <td data-label="Referencia externa">{{datos.external_reference | externalReference}}</td>
            <td data-label="Nombre pagador">{{datos.payer_name}}</td>
            <td data-label="Descripcion">{{datos.description}}</td>
            <td data-label="Fecha de pago">{{datos.payment_date | date: 'dd/MM/yyyy'}}</td>
            <td data-label="Canal">{{datos.channel}}</td>
            <td data-label="Importe pagado">{{datos.amount_paid | currency:'$'}}</td>
            <td data-label="Comision neta">{{datos.net_fee| currency:'$'}}</td>
            <td data-label="IVA de la comision">{{datos.iva_fee| currency:'$'}}</td>
            <td data-label="Importe neto">{{datos.net_amount| currency:'$'}}</td>
            <td data-label="Fecha saldo disponible">{{datos.available_at | date: 'short'}}</td>
        </tr>
        </tbody>
    </table>

    <!-- Si es la primera busqueda, el array "data" se encuentra vacio pero no se realizó ningúna busqueda por lo que no se debe mostrar el mensaje-->
    <p *ngIf="primeraBusquedaRealizada && !ExistenRegistrosBusqueda"> No existen registros en dicha fecha</p>
</div>

</body>
