.wrapperSuperior{
  display: inline-grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  justify-content: center;
  align-items: center;
}

.datePicker{
  grid-column: 1 / 2;
  grid-row: 1;
}

.divBotonBuscar{
  grid-column: 2 / 2;
  grid-row: 1;
  padding-left: 15px;
}

.botonBuscar{
  background-color: #4a90e2;
  color: #f2f7fd;
  border: none;
  border-radius: 4px;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.botonBuscar:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.wrapperTable{
  overflow-y:auto;
  height:400px;
}

table {
  border: 1px solid grey;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: .85em;

}

@media screen and (max-width: 1150px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }

  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}

